
h1 {
    text-align: center;
    font-family: 'McLaren', cursive;
    margin-top: 40px;
   
}
body {
    margin: 0;
}
#menu ul{
    margin: 0;
    background-color: #000;
    list-style: none;            
}
#menu ul li{
    display: inline;
    padding: 30px;
    font-family: 'Consolas'; 
    font-size: 16px;        
}
#menu ul li a{            
    padding: 15px 10px;
    display: inline-block;
    color: rgb(150, 150, 150);
    text-decoration: none;            
}
#menu ul li a:hover {
    color: white;
}
#logo{
    position: relative;
    top:15vh;
    left:30vw;

}

