<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music-Store</title>
    <script src="testeFunction.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    


 
</head>
<body>

    

    <div id="menu">
        <ul>
            <li><a href="Indexx.html">Home</a></li>
            <li><a href="cadastrocd.html">Cadastro de CD</a></li>
            <li><a href="cadastrofun.html">Cadastro de funcionário</a></li>
            <li><a href="Folga.html">Delegação de folga</a></li>
            <li><a href="Produtos.html">Produtos</a></li>
            <li><a href="funcionarios.html">Funcionários</a></li>
        </ul>
    </div>



<div >
    <img src="../view/img/logoMusicStore.png" alt="" width="500vw" height="500vh" id="logo">
</div>
    
</div>
    
</body>
</html>